body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


.todolist li {
    font-size: 18px;
    margin: 8px 0;
}
.left-panel {
    background-color: #fffacd; 
    padding: 20px;
    width: 40%;
    border-right: 1px solid #ccc;
}


.right-panel {
    background-color: #ffb6c1; 
    padding: 20px;
    width: 60%;
}


.container {
    display: flex; 
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
}